

body {
    background-image: url('assets/smg2flipout.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}



/* Top banner stuff */

#top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 11%;
    /* background-color: #303030; */
    background-image: linear-gradient(black, purple);
    border-bottom: solid;
    border-color: white;
    }

#top-logo {
    position: relative;
    top: 0.2vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#osaka {
    position: absolute;
    right:20px;
    cursor: pointer;
    height: 8vh;
    margin-left: auto;
}

#osaka:hover {
    transform: scale(1.1)
}


#osaka:active {
    transform: scale(1);
}


/* Main window stuff */

#main-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 114.8vh;
    overflow: hidden;
}

#main-section {
    position: absolute;
    overflow: auto;
    top: 1vh;
    height: 100%;
    width: 99.2%;
    scrollbar-width: none;
    margin-left: 0%;
    background-attachment: scroll;
}

#main-section::-webkit-scrollbar {
    display: none;
}

#main-content {
    position: relative;
    background-color: black;
    background-image: url("assets/osrs-backdrop2.gif");
    background-size: 100% auto;
    background-repeat: repeat-y;
    min-height: 100%;
}

#filler-text {
    position: fixed;
    justify-content: center;
    align-items: center;
}

.main-item {
    position: relative;
    width: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
    /* border-bottom: 1px solid black; */
    box-sizing: border-box;
}

.main-item h2, h1 {
    padding-top: 2.5vh;
}

.centre-text {
    text-align: center;
}

.remove-margin {
    margin: 0;
}



/* Woodcutting game stuff */

#woodcut-game {
    position: fixed;
    bottom: 5vh;
    right: 3.2vh;
}

#woodguy-static {
    position: absolute;
    z-index: 0;
    left: 0.25vw;
    bottom: 1vh;
    height: 33.6vh;
    width: 36.3vh;
    cursor: pointer;
}

#woodguy-cutting {
    position: absolute;
    z-index: -1;
    left: 0.25vw;
    bottom: 1vh;
    height: 33.6vh;
    width: 36.3vh;
}

#wood-count-text {
    position: absolute;
    left: 0.5vw;
    bottom: 35.5vh;
    color: white;
}





/* My kin list stuff */

#kin-list-section {
    position: fixed;
    top: 15vh;
    right: 3.2vh;
    opacity: 100;
    overflow: hidden;
}

#kin-list-container {
    position: absolute;
    z-index: 0;
    left: 0.25vw;
    bottom:0.8vh;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.kin-list-image {
    display: block;
    object-fit: cover;
    width: 12.2vh;
    height: 11.2vh;
}

.kin-list-image:hover {
    transform: scale(1.05);
}





            /* Bonnie functionality */

#bonnie {
    cursor: pointer;
    opacity: 100%;
}

#bonnie:active {
    transform: scale(1.02);
}

#blink-top {
    position: fixed;
    width: 100%;
    height: 50vh;
    top: -50vh;
    background-color: black;
    z-index: 100;
    transition: top 0.05s;
}

#blink-bottom {
    position: fixed;
    width: 100%;
    height: 50vh;
    bottom: -50vh;
    background-color: black;
    z-index: 100;
    transition: bottom 0.05s;
}





/* Works window stuff */

#my-works-section {
    position: fixed;
    top: 15vh;
    left: 3.2vh;
    overflow: hidden;
}

#my-works-container {
    position: absolute;
    z-index: 0;
    left: 0.25vw;
    bottom: 1.1vh;
    height: 51.6vh;
    width: 36.3vh;
    background-color: wheat;
    scrollbar-width: none;
    overflow: scroll;
    background-attachment: local;
    background-image: url("assets/osrs-backdrop.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
}

#my-works-container::-webkit-scrollbar {
    display: none;
}

.work-item {
    position: relative;
    width: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    padding-left: 2.2vh;
    padding-right: 2.2vh;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.work-item h3 {
    margin: 0;
    color: white;
}

.work-item p {
    margin: 0;
    color: white;
}

.work-item-link {
    position: absolute;
    top: 0%;
    right: 5.2%;
    color: wheat;
}

.work-item-link:visited {
    color: yellow;
}



/* Misc. */

.make-image-correct {
    width: 37vh;
}

#make-main-correct {
    width: 100%;
}

.always-top-layer {
    position: relative;
    z-index: 9999;
    pointer-events: none;
}
