

body {
    background-image: url('assets/smg2flipout.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}



/* Top banner stuff */

#top-banner {
    position: fixed;
    width: stretch;
    height: 11%;
    /* background-color: #303030; */
    background-image: linear-gradient(black, purple);
    border-bottom: solid;
    border-color: white;
    }

#top-logo {
    position: relative;
    transform: scale(0.25);
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#osaka {
    position: relative;
    transform: scale(0.055);
    bottom: 728px;
    left: 740px;
    cursor: pointer;
}

#osaka:active {
    transform: scale(0.05);
}



/* Main window stuff */

#main-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 37px;
    left: 50%;
    transform: scale(0.8) translate(-62.5%);
    overflow: hidden;
}

#main-section {
    position: absolute;
    overflow: auto;
    top: 2%;
    height: 100%;
    width: 99.2%;
    scrollbar-width: none;
    margin-left: 0%;
    background-attachment: scroll;
}

#main-section::-webkit-scrollbar {
    display: none;
}

#main-content {
    position: relative;
    background-color: black;
    background-image: url("assets/osrs-backdrop2.gif");
    background-size: 100% auto;
    background-repeat: repeat-y;
    min-height: 100%;
}



/* Woodcutting game stuff */

#woodcut-game {
    position: fixed;
    bottom: 0px;
    right: 0px;
    transform: scale(0.78)
}

#woodguy-static {
    position: absolute;
    z-index: 0;
    left: 5px;
    bottom: 8px;
    height: 313px;
    width: 341px;
    cursor: pointer;
}

#woodguy-cutting {
    position: absolute;
    z-index: -1;
    left: 5px;
    bottom: 8px;
    height: 313px;
    width: 341px;
}

.always-top-layer {
    position: relative;
    z-index: 9999;
    pointer-events: none;
}


#wood-count-text {
    position: absolute;
    left: 5px;
    bottom: 340px;
    color: white;
}



/* My kin list stuff */

#kin-list-section {
    position: fixed;
    top: 70px;
    right: 0px;
    transform: scale(0.78);
    opacity: 100;
}

#kin-list-container {
    position: relative;
    position: absolute;
    z-index: 0;
    left: 5px;
    bottom: 8px;
    height: 313px;
    width: 341px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.kin-list-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 105px;
    transform: scale(1.02);
}

.kin-list-image:hover {
    transform: scale(1.05);
}

#bonnie {
    cursor: pointer;
}

#bonnie:active {
    transform: scale(1.02);
}